body {
  margin: 0%;
  background-color: #fcf8e8;
  /* height: 100%; */
  /* min-height: 100%; */
}

/* html {
  min-height: 100%;
  overflow-y: scroll;
} */

.titleBox {
  display: flex;
  justify-content: center;
  padding-top: 5px;
  font-size: xxx-large;
  background-color: #94b49f;
  color: #cee5d0;
  font-family: "Lazy Dog", sans-serif;
}

.gifBox {
  display: flex;
  justify-content: center;
  padding-bottom: 65px;
}

.gif {
}

.card {
}

.card-header {
  display: flex;
  justify-content: flex-start;
  background-color: #cee5d0;
  font-family: "Lazy Dog";
}

.card-body {
  display: flex;
  justify-content: center;
}

.card-title {
}

#songTitle {
}

.card-text {
}

#songArtist {
}

.btn {
  background-color: #94b49f;
}

#previousButton {
}

#playButton {
}

#pauseButton {
  /* background-color: #94b49f; */
}

#skipButton {
}

#albumCover {
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  justify-content: center;
  background-color: #ecb390;
  text-align: center;
}

.footer-contents {
  font-size: xxx-large;
  display: flex;
  justify-content: center;
  padding: 3%;
  font-family: "Lazy Dog";
}

/* .left-side {
  width: 20%;
  padding: 25%;
}

.right-side {
  width: 20%;
  padding: 25%;
  border-color: black;
} */

.structure {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 150px;
  background-color: #fcf8e8;
  padding-bottom: 10%;
}
