body {
  margin: 0%;
  background-image: url('./paw-prints.jpeg');
  background-size: 100%;
}

@font-face {
  font-family: LemonMilk;
  src: url(./LemonMilkRegular-X3XE2.otf);
}

@font-face {
  font-family: EatTheMeat;
  src: url(./EatTheMeat-4BZYD.otf);
}

.titleBox {
  display: flex;
  justify-content: center;
  padding-top: 5px;
  font-size: xxx-large;
  background-color: #94b49f;
  color: #cee5d0;
  font-family: "LemonMilk";
}

.gifBox {
  display: flex;
  justify-content: center;
  /* padding-bottom: 10px; */
}

.card {
  width:30%;
}

.card-header {
  display: flex;
  justify-content: flex-start;
  background-color: #cee5d0;
  font-family:"LemonMilk";
  color:#94b49f;
}

.card-body {
  display: flex;
  justify-content: center;
}

.btn {
  background-color: #94b49f;
  border:#94b49f;
  padding:5px;
  margin:1px;
}

.btn:hover{
  background-color: #ecb390;;
}

.footer {
  position:fixed;
  bottom:0;
  width: 100%;
  height:65px;
  background-color: #ecb390;
  font-family: "LemonMilk";
}

.footer-contents{
  font-display: center;
  font-family: "EatTheMeat";
  font-size: large;

}

.structure {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 150px;
  padding-bottom: 10%;
}

.vinylImage{
  height: 100px;
  width: 100px;
  border-radius: 50%;
  animation: roll 2s linear 0s infinite;
  padding-right: 5px;

}

@keyframes roll{
  to{
      transform: rotate(360deg);
  }
}